@using vcskyfall.Models
@model BigLoginViewModel
@{
    ViewBag.Title = "Log in";
}
<header class="intro-header" style="background-image: url('../../Image/car.png');background-attachment:fixed;margin-bottom:0px">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1 id="menu-toggle">欢迎回来</h1>
                    <hr class="small">
                    <ul class="nav nav-pills" style="display:inline-block">
                        <li id="loginTab" role="presentation" class="active"><a class="subheading">登录</a></li>
                        <li id="registerTab" role="presentation"><a class="subheading">注册</a></li>

                    </ul>

                    <div id="loginpanel">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
                        {
                        @Html.AntiForgeryToken()
                        <h2>@*Use a local account to log in.*@</h2>
                        <hr />
                        <div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.LabelFor(m => m.LoginViewModel.Email, new { @class = "sr-only" })
                        </div>
                        <div>
                            @Html.TextBoxFor(m => m.LoginViewModel.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.LoginViewModel.Email, "", new { @class = "text-danger" })
                        </div>


                        @Html.LabelFor(m => m.LoginViewModel.Password, new { @class = "sr-only" })

                        @Html.PasswordFor(m => m.LoginViewModel.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LoginViewModel.Password, "", new { @class = "text-danger" })

                        <div class="checkbox" style="float:left">
                            <label>
                                @Html.CheckBoxFor(m => m.LoginViewModel.RememberMe)
                                @Html.LabelFor(m => m.LoginViewModel.RememberMe)
                            </label>

                        </div>
                        <input type="submit" value="Log in" class="btn btn-lg btn-primary btn-block" />

                        <p>
                            @* @Html.ActionLink("Register as a new user", "Register")*@
                        </p>
                        }
                    </div>
                    <div id="registerpanel" style="display:none">
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-signin", role = "form" }))
                        {
                        @Html.AntiForgeryToken()

                        <hr />
                        @Html.ValidationSummary("", new { @class = "text-danger" })

                        @Html.LabelFor(m => m.RegisterViewModel.Email, new { @class = "sr-only" })

                        @Html.TextBoxFor(m => m.RegisterViewModel.Email, new { @class = "form-control" })


                        @Html.LabelFor(m => m.RegisterViewModel.Password, new { @class = "sr-only" })

                        @Html.PasswordFor(m => m.RegisterViewModel.Password, new { @class = "form-control" })


                        @Html.LabelFor(m => m.RegisterViewModel.ConfirmPassword, new { @class = "sr-only" })

                        @Html.PasswordFor(m => m.RegisterViewModel.ConfirmPassword, new { @class = "form-control" })


                        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Register" />

                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>



@section Scripts {
    <link href="~/Content/signin.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jqueryval")
    <style type="text/css">
        #loginTab:hover {
            cursor: pointer;
        }

        #registerTab:hover {
            cursor: pointer;
        }

        #RegisterViewModel_ConfirmPasswordc {
            margin-bottom: 8px;
        }

        .intro-header_login {
            background-color: gray;
            background: no-repeat center center;
            background-attachment: scroll;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
        }
    </style>
    <script>
        $(function () {
            var footer = document.getElementsByTagName("footer");
            footer[0].parentNode.removeChild(footer[0]);
            var login = document.getElementById("loginTab");
            var register = document.getElementById("registerTab");
            $("#loginTab").on("click", function () {
                $(this).removeClass("active");
                //$("#loginpanel").css("display", "block");
                $("#loginpanel").fadeIn();
                $("#registerpanel").css("display", "none")
                $(this).addClass("active");
                $("#registerTab").removeClass("active")
            })
            $("#registerTab").on("click", function () {
                $(this).removeClass("active");
                $("#loginpanel").css("display", "none");
                //$("#registerpanel").css("display", "block")
                $("#registerpanel").fadeIn();
                $(this).addClass("active");
                $("#loginTab").removeClass("active")
            })
        })

    </script>
}